.persona__img {
    max-width: 31.3125rem;
    filter: drop-shadow(0px 0px 150px #E31D81);
}

.persona__body{
    background-color: var(--rosa-clarinho);
}

.persona__subtitulo {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

@media screen and (min-width: 992px) {
    .persona {
        max-width: 45%;
    }

    .sobreNft__explicacao {
        max-width: 45%;
    }
}