@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url(_variaveis.css);

body {
    color: var(--branco);
    font-family: var(--ubuntu);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
}