@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url(_variaveis.css);
@import url(../componentes/1-header/1-navbar.css);
@import url(../componentes/1-header/2-chamada.css);
@import url(../componentes/1-header/3-info.css);
@import url(../componentes/2-main/1-sobreNFT.css);
@import url(../componentes/2-main/2-populares.css);
@import url(../componentes/2-main/3-accordion.css);

body {
    background-color: var(--vinho);
    color: var(--branco);
    font-family: var(--ubuntu);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
}

.logotipo {
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.logotipo--style {
    color: var(--rosa);
}

.subtitulo {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.375rem;
}

/* Margens pré-definidas */
.mt-52 {
    margin-top: 3.25rem;
}
.mb-52 {
    margin-bottom: 3.25rem;
}

.mt-72 {
    margin-top: 4.5rem;
}
.mb-72 {
    margin-bottom: 4.5rem;
}


/* Paddings pré-definidos */
.pt-52 {
    padding-top: 3.25rem;
}
.pb-52 {
    padding-bottom: 3.25rem;
}

.pt-72 {
    padding-top: 4.5rem;
}
.pb-72 {
    padding-bottom: 4.5rem;
}


@media screen and (min-width: 992px) {
    .subtitulo {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }
}