.menu__mobile {
    padding: 2rem 0;
}

.menu {
    padding: 2rem 0;
    height: 100vh;

    background-color: var(--vinho);

    position: fixed;
    left: 100%;

    top: 0;
    overflow-x: hidden;
    z-index: 1;
    width: 100%;
    
}

.menu__header__mobile {
    padding: 0 calc(1.5rem * .5);
}

.menu__btn__open {
    background-image: url(../../../img/icons/menu-hamburguer.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.725rem;
    height: 1.725rem;
    display: flex;
}

.menu__btn__close {
    background-image: url(../../../img/icons/menu-close.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.725rem;
    height: 1.725rem;
    display: flex;
}

.nav__link {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;

    background-image: linear-gradient(to right, var(--rosa), var(--rosa) 50%, var(--branco) 50%);
    background-position: 100%;
    background-size: 200% 100%;
    display: inline-block;
    padding: .3125rem 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}



.nav__link:before {
    content: '';
    background: var(--rosa);
    display: block;
    position: absolute;
    bottom: -0.1875rem;
    left: 0;
    width: 0;
    height: .1875rem;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    background-position: 0;
}

.nav__link:hover::before {
    width:100%;
}

.botao__menu {
    height: 3.875rem;
    width: 10.75rem;

    background-color: var(--vinho);
    border: 1px solid var(--rosa);
    border-radius: .5rem;

    color: var(--branco);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;

    /* Efx */
    background-image: linear-gradient(to right, var(--vinho), var(--vinho), var(--vinho), var(--vinho));
    background-size: 300% 100%;
    
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.botao__menu:hover {
    background-image: linear-gradient(to right, var(--vinho), var(--rosa-clarinho), var(--vinho), var(--rosa-clarinho));
    box-shadow: 0 4px 24px 0 var(--rosa-clarinho);

    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .5s ease-in-out;
}

@media screen and (min-width: 768px) {
    .menu__header__mobile {
        margin: 0 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .menu {
        background-color: transparent;
        height: auto;    
        left: inherit;
        position: relative;
    
        top: inherit;
        overflow-x: inherit;
        width: auto;
    }

    .menu__header__mobile {
        margin: 0;
        padding: 0 0;
    }
}