.chamada {
    padding-top: 4.5rem;
}

.chamada__intertitulo {
    text-align: center;
    color: var(--rosa);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.chamada__subtitulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;

    max-width: 20.4375rem;
}

.chamada__paragrafo {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;

    margin-bottom: 2.5rem;

    max-width: 20.4375rem;
}

.botao__principal {
    background-color: var(--vinho);
    border: .125rem solid var(--rosa);
    border-radius: .5rem;

    color: var(--branco);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
    letter-spacing: 0.02rem;
    text-align: center;

    margin-bottom: 4.5rem;

    width: 17rem;
    height: 3.875rem;

    /* Efx */
    background-image: linear-gradient(to right, var(--vinho), var(--vinho), var(--vinho), var(--vinho));
    background-size: 300% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.botao__principal:hover {
    background-image: linear-gradient(to right, var(--vinho), var(--rosa-clarinho), var(--vinho), var(--rosa-clarinho));
    box-shadow: 0 4px 24px 0 var(--rosa-clarinho);

    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .5s ease-in-out;
}

@media screen and (min-width: 768px) {
    .chamada__subtitulo {
        font-size: 2rem;
        line-height: 3rem;
    
        max-width: 28.125rem;
    }

    .chamada__paragrafo {    
        max-width: 33rem;
    }
}

@media screen and (min-width: 992px) {
    .chamada {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .chamada__intertitulo {
        text-align: start;
    }
    
    .chamada__subtitulo {
        text-align: start;
        font-size: 2.5rem;
        line-height: 3.75rem;
    
        max-width: 35rem;
    }
    
    .chamada__paragrafo {
        text-align: start;
    }
}