.social__icon {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: flex;

    width: 40px;
    height: 40px;
}

.nav--link:hover::before  {
    width:0%;
}

.facebook {
    background-image: url(../../../img/icons/social-facebook.png);
}

.twitter {
    background-image: url(../../../img/icons/social-twitter.png);
}

.telegram {
    background-image: url(../../../img/icons/social-telegram.png);
}

.messenger {
    background-image: url(../../../img/icons/social-messenger.png);
}

.rodape__creditos {
    font-size: 1rem;
    line-height: 1.5rem;
}